<% if(typeof errors != "undefined") { %>
    <% errors.forEach(function(error) { %>
        <ul>
            <li class="listeError">
                <%= error.msg %>
            </li>
        </ul>
    <% }); %>
<% } %>


<% if(success_msg != "") { %>
        <ul>
            <li class="listeError">
                <%= success_msg %>
            </li>
        </ul>
<% } %>

<% if(error_msg != "") { %>
        <ul>
            <li class="listeSuccess">
                <%= error_msg %>
            </li>
        </ul>
<% } %>

<% if(error != "") { %>
        <ul>
            <li class="listeError">
                <%= error %>
            </li>
        </ul>
<% } %> 