<div class="addArticleContent">
    <form action="">
        <div class="addArticle">

            <h1>Ajouter votre propre article</h1>

            <div class="customArticle">

                <label for="" class="labelNameArticle">Votre Titre :</label>
                <input type="text" class="InputNameArticle" placeholder="Entrer le titre de votre article">

                <label for="" class="labelNameArticle">Choisissez votre categorie :</label>            
                <select name="categorie" class="form-control" id="categorie"></select>

                <label for="" class="imageArticle">Choisissez l'image de l'article :</label>
                <input type="file" class="file-input" name="image">

                <label for="" class="labelNameArticle">Le contenu de votre article :</label>
                <input type="text" class="InputNameRegister" placeholder="Entrer le contenu de votre article">
            </div>

            <button class="buttonArticle">Ajoutez l'article</button>
   
        </div>
    </form>
</div>