<div class="contentConnect">
    <form action="/user/loginAuth" method="POST">
        <div class="connexionConnect">
            <img src="../static/image/compte-utilisateur-1.png" alt="">

            <h1>Connectez vous</h1>  
            
            

            <div class="userConnect">
                <label for="" class="labelNameLogin">Votre Email :</label>
                <input type="text" class="InputNameLogin" placeholder="Entrer votre email" name="email">

                <label for="" class="labelNameLogin">Votre mot de passe :</label>
                <input type="password" class="InputNameLogin" placeholder="Entrer votre mot de passe" name="password">
            </div>

            <button class="buttonConnect">Se connecter</button>
            <a href="/auth/google">Connectez vous avec google</a>
   
        </div>
    </form>
</div>